<!DOCTYPE html>
<html>
    <head>
    </head>
<body>
    <header>
        <div class="header-styler">
            <br>
            <img src="assets/Header.png">
        </div>
    </header>
    <br>
    <br>
<div class="container"> 
<h1>
    Contact Us
</h1>
<div class="paragraph">
    <p>We encourage you to contact us via phone or email. Please use the contact form below to contact us via email. 
    For directions to the office, please click the map below. If you have any questions or comments, 
    please feel free to get in touch. We're always happy to hear from you!
    </p>
    </div>
<form #userForm= "ngForm" (ngSubmit)= "onSubmit(userForm.value)">
    <div class="form-group">
        <label>Name</label>
        <input type="text" #nameRef="ngModel" required class="form-control" name="Name" ngModel>
        <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
            Please enter a name
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" #emailRef="ngModel" required class="form-control" name="Email" ngModel>
        <div [hidden]= "emailRef.valid || emailRef.pristine" class="alert alert-danger">
            Please enter an Email
        </div>
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="text" #phoneRef="ngModel" required class="form-control" name="Phone" ngModel>
        <div [hidden]= "phoneRef.valid || phoneRef.pristine" class="alert alert-danger">
            Please enter a phone number
        </div>
    </div>
    <div class="form-group">
        <label>Notes to the Doctor</label>
        <input type="text" class="form-control" name="Notes" ngModel>
    </div>
    <br>
    <div class="P2">
        <p>Please do not submit any Protected Health Information (PHI) </p>
    </div>
    <div><button type="submit" class="btn">submit</button></div>
</form>
</div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span>Copyright &#169; 2011-2018 The Best Dentist.</span>
                    <span> All rights reserved </span>
                </div>
                <div class="col-md-4">
                    <nav>
                        <ul>
                            <!--Add a href and target="_blank" for links-->
                            <li>Our Practice</li>
                            <li>Our Services</li>
                            <li>Payment</li>
                            <li>Contact Us</li>
                            <li>Privacy Policy</li>
                            <img src="assets/yt.png" style="margin: 1px 1px 5px 5px;">
                            <img src="assets/fb.png" style="margin: 1px 1px 5px 5px;">
                            <img src="assets/ig.jpeg" style="margin: 1px 1px 5px 5px;">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>