<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    
 
     
      
    
<div class="footer">
    <div class="footer_menu">
       <div class="col_1">
          <div class="title">
            Company  
          </div>  
          <ul >
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Profile</a></li>
            
          </ul>
       </div>
       <div class="col_2">
         <div class="title">
            Help & Support 
          </div>  
          <ul>
            <li><a href="#">Support Center</a></li> 
            <li><a href="#">Call Center</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
       </div>
       
       <div class="col_3">
        <div class="title">
            Social Media 
            
          </div>  
          <ul>
            <li><a href="#"><a href="#" class="fa fa-facebook"></a></a></li> 
            <li><a href="#"><a href="#" class="fa fa-instagram"></a></a></li>
            <li><a href="#"><a href="#" class="fa fa-whatsapp"></a></a></li>
          </ul>
          
      </div>
    </div>

</div>