<!DOCTYPE html>
<html>
<div class="full" style="background-color: skyblue;">
<style>
body,h1,h2,h3,h4,h5 {font-family: cursive}
</style>
  

  <body class="w3-light-grey"   ></body>

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1100px; background-color: white;" >

<!-- Header -->


<!-- Grid -->
    <div class="w3-row" >

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="/assets/ot80.jpg" alt="Nature" style="width:100%; height:450px;">
    <div class="w3-container">
      <h3 style="text-align: center; text-decoration: underline;"><b>Orthodontics Dentistry </b> </h3>
    </div>
    <div class="w3-container">
      <p style="text-align: center; font-family:cursive"> 
        Orthodontics is a branch of dentistry that deals with improper positioning of teeth. A person may have an over bite, under bite, overcrowding of teeth, crooked teeth or a jaw misalignment—which could cause eating or speech problems. In such cases, orthodontic treatments are recommended to slowly change the positioning of the teeth to be straighter and more aligned. Orthodontics can also be used for cosmetic purposes if the person wishes to have a better smile.
      </p>
      <h3  style="text-align: center; text-decoration: underline;" ><b>What are the benefits of Orthodontics?</b></h3>
      <p style="text-align: center; font-family:cursive"> 
        Orthodontics is important because misaligned teeth or improper positioning can lead to a higher risk of tooth decay and gingivitis. An improper bite can make teeth harder to teach or more painful to floss, leading to poor oral hygiene in those particular regions—which can affect your oral health.
      </p>
      <h3  style="text-align: center; text-decoration: underline;" ><b>Choosing an Orthodentic Dentist</b></h3>
      <p style="text-align: center;font-family:cursive"> 
        When you have a list of prospective dentists, call or visit several before making an appointment. Ask if he or she a member of organized dentistry (such as ADA or AGD), and find out which dental procedures are completed in-office and which are referred out. Also, ask how far in advance you need to schedule regular checkups or cleanings.
      </p>
      <div class="vertical-center">
        <button class=mapbtn style="height:50px; width:300px; font-size: 20px; background-color: skyblue; color: white;  cursor:pointer" >Make An Appointment Now!</button>


      </div>
     

      <!-- <div class="w3-row">
        <div class="w3-col m8 s12">
          <button class="makeanappointment", style="position:fixed", float="center", alignment="center">Make an Appointment Now! </button>
        </div> -->
        
      </div>
    </div>
  </div>
      </div>
      </div>
  
  <hr>


</div>  