<html>
  <head>
  </head>
  <body>
    <div class="fullpage">
     
  
    <div class="about-section">
    <h1>About Us </h1>
    <img src ="/assets/dental.jpg" alt="Logo">
    <p>Welcome to Gainam Smiling at Hicksville. Here we treat you as our guest, not just another appointment on the schedule. We strive to provide you with only the best and latest treatment options to ensure that you always leave here smiling. </p>
    <p>The team at Gainam Dental in Hicksville not only uses state-of-the-art dental equipment, but they’re trained and experienced in the latest dental procedure techniques. From the moment you enter the comfortable office to the moment you leave, you’re the center of attention.</p>
   </div>


   <div class="part2">
    <h2 style="text-align:center; font-family: cursive;">Making Patients the Top Priority </h2>
    <p>At Gainam Dental at Hicksville, we will always communicate with honesty, openness, and conduct ourselves with integrity. We take the time to get to know every patient. We are committed to providing the highest levels of care and will always stand behind their work.</p>
    <p>It’s our aim to provide quality, state-of-the-art dental care in one convenient location. At our   practice, we can take care of most dental needs in-house. These range from preventative checkups to emergency care to dentures and implants (placement and restoring) and much more.</p>
    <p>Helping patients achieve healthy, beautiful smiles and optimal oral health motivates us each day. We love to help patients achieve and maintain oral health for a lifetime.</p>
  </div>

<div class="part3">
  <h3 style="text-align:center; font-family: cursive;">Meet the Team</h3>
    <p>This Gainam dental practice features experts and specialists on their staff. They have the equipment, facilities and experience to accommodate the requirements of any dental procedure — whether restorative, cosmetic, orthodontic, endodontic or periodontic. The dentists on staff include:</p>
    <ul>
    <Li>
      <strong>
       <span>Dr.Andreou : </span> 
       </strong>
      <span>caring dentist that has spent over 20 years practicing in the Hicksville and Smithtown communities. He studied at the University of Pennsylvania School of Dental Medicine and continued his education by completing an additional 2 years of Post Graduate training in both General Dentistry and Oral Suegery. As a lifelong learner, Dr. Andreou has completed over 400 hours of continuting education to stay on the forefront of dental innovations.</span>
      <br>
      <br>
      <img src ="/assets/DrAndreou.jpg" alt="Logo" style="width: 300px; margin-left: 40%;">
    </Li>
 <Li>
      <strong>
      <span>   Dr. Bral:</span>
         </strong>
       <span>a talented dentist who specializes in dental implants and flexible dentures.He’s a graduate of New York University.During his tenure at NYU, Dr. Bral took on several leadership roles – most noteworthy, becoming the President of the Endodontics Society. This role reflects Dr. Bral’s interest in understanding the source and treatment of various dental pain. After achieving his DDS, Dr. Bral became a General Dentist at Coney Island Hospital where he not only delved deeper into the practice of root canals and pain management on a daily basis, but also sharpened his skills in Oral Surgery and Implantology. Dr. Bral has since been practicing as a family dentist using his knowledge and expertise to deliver high quality dentistry.</span>
               <br>
               <br>
               <img src = "assets/DrBral.jpg" alt="Logo" style="width: 300px; margin-left: 40%;">
               </Li>
              </ul>
              <h4 style="text-align:center; font-family: cursive;">Our Hygienists</h4>
              <ul>
            
                <br>
                <img src ="/assets/Jean.jpg" alt="Logo" style="width: 300px; margin-left: 40%;">
                <p style="text-align:center; font-family: cursive;">Jean</p>
             
                <br>
                <img src ="/assets/Kirstean.jpg" alt="Logo" style="width: 300px; margin-left: 40%;">
                <p style="text-align:center; font-family: cursive;">  Kirstean</p>
              
                <img src ="/assets/Melissa.jpg" alt="Logo" style="width: 300px; margin-left: 40%;">
                <p style="text-align:center; font-family: cursive;"> Melissa</p>
              
          
                <br>
                <img src ="/assets/Abigail.jpg" alt="Logo" style="width: 300px; margin-left: 40%;">
                <p style="text-align:center; font-family: cursive;"> At The Front Desk, Abigail</p>
              
              
                <br>
                <img src ="/assets/Diane.jpg" alt="Logo" style="width: 300px; margin-left: 40%;">
                <p style="text-align:center; font-family: cursive;"> Our assistant, Diane</p>
              
                <br>
                <img src ="/assets/Nicole.jpg" alt="Logo" style="width: 300px; margin-left: 40%;">
                <p style="text-align:center; font-family: cursive;">Our Office Manager,Nicole </p>
              </ul>
            </div>

            <div class="part4"> <h4 style="text-align:center; font-family: cursive;">Office Hour</h4> 
              <p style="text-align:center; font-family: cursive;"> Monday 9am-6pm<br>Tuesday 9am-6pm<br>Wednesday 9am-6pm<br>Thursday 9am-6pm<br>Friday 9am-6pm<br>Saturday-Closed<br>sunday-Closed </p>
        </div>

        <div class="lastpara">
        <p><br>Gainam Dental</p>
        <ul>
          <li>
            <a href="tel:+929-309-7224">929-309-7224</a>
          </li>
          <li>
            <a href="https://www.google.com/maps/place/Gain+America+Inc/@40.7649194,-73.5200701,15z/data=!4m5!3m4!1s0x0:0xb6704689f05d19be!8m2!3d40.7649997!4d-73.5201648 "_blank>183 Broadway, Hicksville, NY 11801</a>
          </li>
          </ul>
        </div>


  
  
  
  
  </div>
  </body>
  </html>