


.w3-content,.w3-auto{margin-left:auto; margin-right:auto}
.w3-cell-row{display:table;width:100%}
.w3-cell{display:table-cell}
.w3-cell-top{vertical-align:top}
.w3-cell-middle{vertical-align:middle}
.w3-cell-bottom{vertical-align:bottom}
.w3-hide{display:none!important}
.w3-show-block,.w3-show{display:block!important}
.w3-show-inline-block{display:inline-block!important}
@media (max-width:1205px)
{.w3-auto{max-width:95%}}

.vertical-center {
    margin: 0; 
    text-align: center;
    display: block;
    
    height: 40px;
    padding: 3%;
    font-size: 16px;
    
  }
.mapbtn:hover {background-color: #3e8e41}
.mapbtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

  
.w3-round-small{border-radius:2px}
.w3-round,.w3-round-medium{border-radius:4px}
.w3-round-large{border-radius:8px}
.w3-round-xlarge{border-radius:16px}
.w3-round-xxlarge{border-radius:32px}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-container,.w3-panel{padding:0.01em 16px}
.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-code,.w3-codespan{font-family: cursive,"courier new";font-size:16px}


.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 25px 0 rgba(0,0,0,0.2),0 4px 25px 0 rgba(0,0,0,0.19)}
